{% extends 'base.html' %}

{% block content %}

    <title>Categorias</title>

    <ul>
        <!-- Itera sobre categorias_ac_list -->
        {% for categorias in categorias_ac_list %}
        <!-- Display Categorias -->
            <li>{{ categorias.descricao }}</li></a>
            {{ categorias.carga_horaria_maxima }} Horas</a>
            <hr/>
            <!-- Se categorias_ac_list estiver vazia -->
            {% empty %}
                <li>Não há Categorias cadastradas.</li>
        {% endfor %}
    </ul>
{% endblock %}